#Nav {
        width: 100%;
        height: 100px;
        background-color: red;



}

li {
        list-style: none;
        display: inline;
        font-size: 25px;
        padding: 95px;




}

a {
        text-decoration: none;
        font-size: 25px;
        color: whitesmoke;

}


#box1 {
        height: 600px;
        width: 100%;
        background-color: red;
        text-align: center;
        font-size: 25px;



}

#box2 {
        height: 250px;
        width: 30%;
        background-color: whitesmoke;
        margin-left: 35%;


}

#box2:hover {
        background-color: yellow;
}

#par0 {
        text-align: center;
        font-size: 25px;

}

#heading1 {
        font-size: 25px;
        color: whitesmoke;

}

#heading2 {
        font-size: 25px;
        color: whitesmoke;
}